In [1]:
bb = 2

# Informações

- Markdown: usado apenas para fazer comentários
- Code: usado para codificar
- Edit mode: Lápis no lado superior direito, a lateral da célula fica com a cor verde
- Command mode: lateral da célula fica azul

-------------------------------------------------------------------------------------------------------------------------------

Panda = panel data, dados multi-dimensionais juntados ao longo do tempo, é baseado em numpy(a biblioteca base para computação cientifica em python), ambos sao parecidos mas panda tem mais funcionalidades. Pandas opera em forma de tabelas (Rows e Collumns), portanto é usado para análise de dados 2D. Com o pandas é possível filtrar dados de uma base de dados.

Exemplo 1 - Single Condition: filt = bikes['tripduration'] > 5000
                              bikes[filt].head()

*Filtra as motocicletas que demoram mais de 5000 na viagem

-------------------------------------------------------------------------------------------------------------------------------

Exemplo 2 - Multiple Conditions: filt1 = bikes['tripduration'] > 5000
                                 filt2 = bikes['gender'] == 'Male'
                                 filt = filt1 & filt2
                                 bikes[filt].head()

*Filtra as motocicletas que demoram mais de 5000 na viagem E o gênero masculino (É possível adicionar '|' no lugar de '&' para utilizar OR ao invés de AND)

-------------------------------------------------------------------------------------------------------------------------------

Exemplo 3 - Dados Agregados


*Retorna um único valor quando dado uma sequência de valores

-------------------------------------------------------------------------------------------------------------------------------

Exemplo 4 - Dados não Agregados


*Não retornam apenas um único valor

-------------------------------------------------------------------------------------------------------------------------------

In [3]:
a = 6
b = 2
a * b + a / b

#para ter o output não deve-ser falar que uma var recebe um valor (ex: c = a * b)

15.0

In [4]:
a = 2
b = 3
c = a + b #o output nao funciona

In [5]:
c #output funcionando com os valores anteriores

5

# Keyboard Shortcuts

- ESC: Comandos
- B: Cria uma célula na linha de baixo
- A: Cria uma célula na linha de cima
- DD: Deleta a célula

# DataFrame And Series

São os dois principais objetos para guardar dados

- DataFrame: 2D, possui Rows e Columns
- Series: 1D, contem uma coluna 

O output maximo de um DataFrame é de 60 Rows e 20 Columns

In [1]:
import pandas as pd

#importa o pandas

In [13]:
bikes = pd.read_csv('bikes.csv')

#uma forma de ler certos arquivos de texto,o formato precisa estar adequado

In [5]:
bikes.head(4)

#o head é uma forma de deixar menor o output, basta inserir um numero entre parenteses e será mostra a quantidade de tabelas
#especificadas pelo numero

,trip_id,usertype,gender,starttime,stoptime,tripduration,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_name,latitude_end,longitude_end,dpcapacity_end,temperature,visibility,wind_speed,precipitation,events
0,7147,Subscriber,Male,2013-06-28 19:01:00,2013-06-28 19:17:00,993,Lake Shore Dr & Monroe St,41.881050,-87.616970,11.0,Michigan Ave & Oak St,41.900960,-87.623777,15.0,73.9,10.0,12.7,-9999.0,mostlycloudy
1,7524,Subscriber,Male,2013-06-28 22:53:00,2013-06-28 23:03:00,623,Clinton St & Washington Blvd,41.883380,-87.641170,31.0,Wells St & Walton St,41.899930,-87.634430,19.0,69.1,10.0,6.9,-9999.0,partlycloudy
2,10927,Subscriber,Male,2013-06-30 14:43:00,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,41.909592,-87.653497,15.0,Dearborn St & Monroe St,41.881320,-87.629521,23.0,73.0,10.0,16.1,-9999.0,mostlycloudy
3,12907,Subscriber,Male,2013-07-01 10:05:00,2013-07-01 10:16:00,667,Carpenter St & Huron St,41.894556,-87.653449,19.0,Clark St & Randolph St,41.884576,-87.631890,31.0,72.0,10.0,16.1,-9999.0,mostlycloudy

In [7]:
bikes.tail(4)

#o tail funciona da mesma forma que o head, mas mostra os ultimos resultados

,trip_id,usertype,gender,starttime,stoptime,tripduration,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_name,latitude_end,longitude_end,dpcapacity_end,temperature,visibility,wind_speed,precipitation,events
50085,17534969,Subscriber,Male,2017-12-30 13:34:00,2017-12-30 13:44:00,585,Halsted St & 35th St (*),41.830661,-87.647172,16.0,Union Ave & Root St,41.819102,-87.643278,11.0,5.0,10.0,16.1,-9999.0,partlycloudy
50086,17534972,Subscriber,Male,2017-12-30 13:34:00,2017-12-30 13:48:00,824,Kingsbury St & Kinzie St,41.889177,-87.638506,31.0,Halsted St & Blackhawk St (*),41.908537,-87.648627,20.0,5.0,10.0,16.1,-9999.0,partlycloudy
50087,17535645,Subscriber,Female,2017-12-31 09:30:00,2017-12-31 09:33:00,178,Clinton St & Lake St,41.885637,-87.641823,23.0,Kingsbury St & Kinzie St,41.889177,-87.638506,31.0,7.0,10.0,11.5,-9999.0,partlycloudy
50088,17536246,Subscriber,Male,2017-12-31 15:22:00,2017-12-31 15:26:00,214,Clarendon Ave & Leland Ave,41.967968,-87.650001,15.0,Clifton Ave & Lawrence Ave,41.968812,-87.657659,15.0,10.9,10.0,15.0,-9999.0,partlycloudy

# Componentes de um DataFrame

- Columns: é um label para todos os valores nessa coluna 
- Index: Possui um valor integer, mas todos os valores possuem um nome próprio. Isso torna possível referncia-los para especificar a Row, o valor 0, por exemplo, é reponsável por toda a sua Row
- Data: O nome já diz

In [8]:
type(bikes)

#exibe basicamente o diretório

pandas.core.frame.DataFrame

In [9]:
td = bikes ['tripduration']
td.head()

#seleciona uma unica coluna, nesse caso a coluna de nome tripduration, e exibe ela. O valor da esquerda é o Index (um label)
#e o valor à direita sao os dados(valores) em si

0     993
1     623
2    1040
3     667
4     130
Name: tripduration, dtype: int64

# Exercise 1

* Select the column events, the type of weather that was recorded, and assign it to a variable with the same name. Output the first 10 values of it.

In [16]:
events = bikes ['events']
events.head(10)

0    mostlycloudy
1    partlycloudy
2    mostlycloudy
3    mostlycloudy
4    partlycloudy
5    mostlycloudy
6          cloudy
7          cloudy
8          cloudy
9    mostlycloudy
Name: events, dtype: object

# Exercise 2

* What type of object is events?

In [19]:
type(events)

#neste caso é do tipo Series pq se trata de somente uma coluna

pandas.core.series.Series

# Exercise 3

* Select the last 2 rows of the bikes DataFrame and assign it to the variable bikes_last_2. What type of object is bikes_last_2?

In [21]:
bikes_last_2 = bikes
bikes_last_2.tail(2)

,trip_id,usertype,gender,starttime,stoptime,tripduration,from_station_name,latitude_start,longitude_start,dpcapacity_start,to_station_name,latitude_end,longitude_end,dpcapacity_end,temperature,visibility,wind_speed,precipitation,events
50087,17535645,Subscriber,Female,2017-12-31 09:30:00,2017-12-31 09:33:00,178,Clinton St & Lake St,41.885637,-87.641823,23.0,Kingsbury St & Kinzie St,41.889177,-87.638506,31.0,7.0,10.0,11.5,-9999.0,partlycloudy
50088,17536246,Subscriber,Male,2017-12-31 15:22:00,2017-12-31 15:26:00,214,Clarendon Ave & Leland Ave,41.967968,-87.650001,15.0,Clifton Ave & Lawrence Ave,41.968812,-87.657659,15.0,10.9,10.0,15.0,-9999.0,partlycloudy

In [22]:
type(bikes_last_2)

pandas.core.frame.DataFrame